[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStart=/bin/bash /scripts/setBrightnessForSuspend.sh
ExecStop=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
