
  # Archives : bloat
ArchLinuxARM-*.tar.gz
install-scripts-PI3/assets/ArchLinuxARM-*.tar.gz

  # Package cache : bloat
data-pacman-cache/*
data-pacman-cache

  # network profiles : private
data-networkmanager-profiles/*
data-networkmanager-profiles

  # keys : private
data-keys/*
data-keys
