# /etc/systemd/system/system-advertise-ip.service

[Unit]
Description=Advertises ip address via git

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/bin/bash -i /root/system-advertise-ip.sh

[Install]
WantedBy=multi-user.target
