
  # Raw images : bloat
ArchLinuxARM-*.tar.gz
ArchLinuxARM-*.tar.gz.md5

  # I don't know what this is doing here ? 
install-scripts-PI0/data-watchbot/*
install-scripts-PI0/data-watchbot
  
  # Networkmanager profiles : private
data-networkmanager-profiles/*
data-networkmanager-profiles

  # Private stuff whose directory doesn't need to be preserved
private/*
private
